:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --font-form-inputs: 24px;
  /*custom colors*/
  --light-red: #e1baac;
  --light-cyan: #9fe8df;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  color: var(--grayish-cyan);
}

body {
  min-height: 100vh;
  background-color: var(--light-grayish-cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding: 2rem;
}

.main-container {
  background-color: var(--white);
  border-radius: 1.8rem 1.8rem 0 0;
  padding: 2rem;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  /* display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr; */
}

#people {
  background-image: url("./images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 4%;
  padding-right: 2rem;
}

#bill {
  background-image: url("./images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 4%;
  padding-right: 2rem;
}

.label-text {
  color: var(--very-dark-cyan);
  opacity: 0.8;
}

Chrome,
Safari,
Edge,
Opera input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  /* -moz-appearance: textfield; */ /* Firefox for hiding arrows*/
  border: none;
  text-align: right;
  font-size: var(--font-form-inputs);
  color: var(--very-dark-cyan);
  display: block;
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
  border: 2px solid transparent;

  /*
  height: 100%; */
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::-ms-input-placeholder {
  color: transparent;
}

input:focus::placeholder {
  color: transparent;
}

input[type="number"]:focus {
  outline: none;
  border: 2px solid var(--strong-cyan);
  /* box-shadow: 0 0 0 2px var(--strong-cyan); */
  border-radius: 4px;
}

.tip-amount {
  list-style-type: none;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  /* grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr); */
  gap: 1rem;
  margin: 1rem 0;
}

#custom-tip {
  /* text-align: center; */
  width: 100%;
}

#custom-tip::-webkit-input-placeholder {
  text-align: center;
}

#custom-tip::-moz-placeholder {
  text-align: center;
}

#custom-tip:-ms-input-placeholder {
  text-align: center;
}

#custom-tip::-ms-input-placeholder {
  text-align: center;
}

#custom-tip::placeholder {
  text-align: center;
}
input[type="radio"][name="buttonGroup"] {
  display: none;
}

.tip-button {
  font-size: var(--font-form-inputs);
  color: var(--white);
  background-color: var(--very-dark-cyan);
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem;
}

input[type="radio"][name="buttonGroup"]:checked + label {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}
.error {
  display: none;
  color: var(--light-red);
  float: right;
}

.invalid-value {
  /* box-shadow: 0 0 0 2px red !important; */
  border: 2px solid var(--light-red) !important;
}

.result {
  background-color: var(--very-dark-cyan);
  border-radius: 10px;
  padding: 1.5rem;
}

.result-wrapper {
  display: grid;
  /* grid-template: repeat(3, 1fr) / repeat(2, 1fr); */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* .total-container {
  display: flex;
  flex-direction: column;
} */

.result h1 {
  color: var(--white);
  font-size: 16px;
}

.total {
  color: var(--strong-cyan);
  text-align: right;
  font-size: 30px;
}

.reset {
  /* background-color: var(--strong-cyan); */
  /* background-color: var(--dark-grayish-cyan); */
  background-color: #0d686d;
  border-radius: 6px;
  text-transform: uppercase;
  color: var(--very-dark-cyan);
  cursor: pointer;
  width: 100%;
  height: 2.5rem;
  border: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1440px) {
  body {
    justify-content: center;
  }
  header h1 {
    font-size: 2rem;
    width: 8rem;
    margin-bottom: 2rem;
  }
  .main-container {
    min-height: 40vh;
    width: 50vw;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    /* 
    grid-template-rows: 1fr; */
  }

  .tip-amount {
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); */
    /* margin: 2rem; */
  }
  .reset:hover {
    background-color: var(--light-cyan);
  }

  .tip-button:hover {
    color: var(--very-dark-cyan);
    background-color: var(--light-cyan);
  }

  #custom-tip {
    font-size: 20px;
  }

  .result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .result-wrapper {
    margin: 1rem 0 0;
  }

  .result h1 {
    font-size: 0.8rem; /*13px*/
  }

  .result p {
    font-size: 0.7rem;
  }

  .total-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .attribution {
    position: absolute;
    bottom: 0;
  }
}
